<!DOCTYPE html>
<html lang="en">
	<head>
		<!---head-->
		<include file="Public/head"/>
		<!---head-->
	</head>
<style>
	.upload-img-box .upload-pre-item {
	    padding: 1px;
	    width: 120px;
	    max-height: 120px;
	    overflow: hidden;
	    text-align: center;
	    cursor: pointer;
	    border: 1px solid #ccc;
	    transition: all .3s linear;
	}
	img {
	    max-width: 100%;
	    border: 0 none;
	}	
</style>
	<body>
		
		<!---nav-->
		<include file="Public/nav"/>
		<!---nav-->
		<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>

				<!---sidebar-->
					<include file="Public/sidebar"/>
				<!---sidebar-->
				</div>
				<!--top-alert-->
				<include file="Public/top-alert"/>
				<!--top-alert-->
					<div class="page-content">
						<div class="page-header">
							<h1>插件配置 [ {$data.title} ]</h1>
						</div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
							<form class="form-horizontal" action="{:U('saveConfig')}" method="post">
								<div class="tabbable">
							        <div class="tab-content">
							          	<empty name="custom_config">
											<fieldset>
												<foreach name="data['config']" item="form" key="o_key">
												<div class="form-group">
													<label class="col-sm-3 control-label no-padding-right">{$form.title|default=''}</label>
													<div class="col-sm-9">
														<switch name="form.type">
															   <case value="text">
                   									             <input type="text" class="text input-mid" name="config[{$o_key}]" value="{$form.value}">
                     										   </case>
										                        <case value="password">
									                                <input type="text" class="text input-large col-xs-10 col-sm-5" type="password" name="config[{$o_key}]" value="{$form.value}">
									                            </case>
									                            <case value="hidden">
									                            	<input type="hidden" name="config[{$o_key}]" value="{$form.value}" class="col-xs-10 col-sm-5">							             
									                            </case>
									                            <case value="radio">
																	<foreach name="form.options" item="opt" key="opt_k">
																		<label class="radio radio-inline">
																			<input type="radio" name="config[{$o_key}]" value="{$opt_k}" <eq name="form.value" value="$opt_k"> checked</eq>>{$opt}
																		</label>
																	</foreach>
									                            </case>
									                            <case value="checkbox">
									                                  <foreach name="form.options" item="opt" key="opt_k">
																			<label class="checkbox checkbox-inline">
																				<php>
																					is_null($form["value"]) && $form["value"] = array();
																				</php>
																				<input type="checkbox" name="config[{$o_key}][]" value="{$opt_k}" <in name="opt_k" value="$form.value"> checked</in>>{$opt}
																			</label>
																		</foreach>
									                            </case>			
												                <case value="select">
									                                <select name="config[{$o_key}]" class="col-xs-10 col-sm-5">
																		<foreach name="form.options" item="opt" key="opt_k">
																			<option value="{$opt_k}" <eq name="form.value" value="$opt_k"> selected</eq>>{$opt}</option>
																		</foreach>
									                                </select>
									                            </case>		
						                          				  <case value="textarea">
																		<textarea name="config[{$o_key}]" class="col-xs-10 col-sm-5" rows="5">{$form.value}</textarea>
										                          </case>
										                            <case value="picture_union">
																		<input type="file" id="upload_picture_{$o_key}">
																			<input type="hidden" name="config[{$o_key}]" id="cover_id_{$o_key}" value="{$form.value}"/>
																			<div class="upload-img-box">
																				<notempty name="form['value']">
																				<php> $mulimages = explode(",", $form["value"]); </php>
																				<foreach name="mulimages" item="one">
																					<div class="upload-pre-item" val="{$one}">
																						<img src="{$one|get_cover='path'}"  ondblclick="removePicture{$o_key}(this)"/>
																					</div>
																				</foreach>
																				</notempty>
																			</div>
																			<script type="text/javascript">
																			//上传图片
																			/* 初始化上传插件 */
																			$("#upload_picture_{$o_key}").uploadify({
																				"height"          : 30,
																				"swf"             : "__STATIC__/uploadify/uploadify.swf",
																				"fileObjName"     : "download",
																				"buttonText"      : "上传图片",
																				"uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
																				"width"           : 120,
																				'removeTimeout'   : 1,
																				'fileTypeExts'    : '*.jpg; *.png; *.gif;',
																				"onUploadSuccess" : uploadPicture{$o_key},
																				'onFallback' : function() {
																		            alert('未检测到兼容版本的Flash.');
																		        }
																			});
										
																			function uploadPicture{$o_key}(file, data){
																				var data = $.parseJSON(data);
																				var src = '';
																				if(data.status){
																					src = data.url || '__ROOT__' + data.path
																					$("#cover_id_{$o_key}").parent().find('.upload-img-box').append(
																						'<div class="upload-pre-item" val="' + data.id + '"><img src="__ROOT__' + src + '" ondblclick="removePicture{$o_key}(this)"/></div>'
																					);
																					setPictureIds{$o_key}();
																				} else {
																					updateAlert(data.info);
																					setTimeout(function(){
																						$('#top-alert').find('button').click();
																						$(that).removeClass('disabled').prop('disabled',false);
																					},1500);
																				}
																			}
																			function removePicture{$o_key}(o){
																				var p = $(o).parent().parent();
																				$(o).parent().remove();
																				setPictureIds{$o_key}();
																			}
																			function setPictureIds{$o_key}(){
																				var ids = [];
																				$("#cover_id_{$o_key}").parent().find('.upload-img-box').find('.upload-pre-item').each(function(){
																					ids.push($(this).attr('val'));
																				});
																				if(ids.length > 0)
																					$("#cover_id_{$o_key}").val(ids.join(','));
																				else
																					$("#cover_id_{$o_key}").val('');
																			}
																		</script>
										                            </case>
										                            <case value="group">
																		<ul class="nav nav-tabs">
																			<volist name="form.options" id="li">
																				<!--<li data-tab="tab{$i}" <eq name="i" value="1">class="active"</eq>><a href="javascript:void(0);">{$li.title}</a></li>-->
																				<li <eq name="i" value="1">class="active"</eq>><a href="#tab{$i}" data-toggle="tab">{$li.title}</a></li>
																			</volist>
																		</ul>
																		<div class="tab-content">
																			<volist name="form.options" id="tab">
																				<div id="tab{$i}" class="tab-pane <eq name="i" value="1">active</eq> tab{$i}">
																					<foreach name="tab['options']" item="tab_form" key="o_tab_key">
																					<div class="form-group">
																							<label class="col-sm-3 control-label no-padding-right">{$tab_form.title|default=''}</label>
																							<div class="col-sm-9">
																							<switch name="tab_form.type">
																								<case value="text">
																									<input type="text" name="config[{$o_tab_key}]" class="col-xs-10 col-sm-5" value="{$tab_form.value}">
																								</case>
																								<case value="password">
																									<input type="password" name="config[{$o_tab_key}]" class="text input-large" value="{$tab_form.value}">
																								</case>
																								<case value="hidden">
																									<input type="hidden" name="config[{$o_tab_key}]" value="{$tab_form.value}">
																								</case>
																								<case value="radio">
																									<foreach name="tab_form.options" item="opt" key="opt_k">
																										<label class="radio radio-inline">
																											<input type="radio" name="config[{$o_tab_key}]" value="{$opt_k}" <eq name="tab_form.value" value="$opt_k"> checked</eq>>{$opt}
																										</label>
																									</foreach>
																								</case>
																								<case value="checkbox">
																									<foreach name="tab_form.options" item="opt" key="opt_k">
																										<label class="checkbox checkbox-inline">
																											<php> is_null($tab_form["value"]) && $tab_form["value"] = array();</php>
																											<input type="checkbox" name="config[{$o_tab_key}][]" value="{$opt_k}" <in name="opt_k" value="$tab_form.value"> checked</in>>{$opt}
																										</label>
																									</foreach>
																								</case>
																								<case value="select">
																									<select name="config[{$o_tab_key}]" class="col-xs-10 col-sm-5">
																										<foreach name="tab_form.options" item="opt" key="opt_k">
																											<option value="{$opt_k}" <eq name="tab_form.value" value="$opt_k"> selected</eq>>{$opt}</option>
																										</foreach>
																									</select>
																								</case>
																								<case value="textarea">
																									<label class="textarea input-large">
																										<textarea name="config[{$o_tab_key}]" class="col-xs-10 col-sm-5" rows="5">{$tab_form.value}</textarea>
																									</label>
																								</case>
																								<case value="picture_union">
																									<div class="controls">
																									<input type="file" id="upload_picture_{$o_tab_key}">
																									<input type="hidden" name="config[{$o_tab_key}]" id="cover_id_{$o_tab_key}" value="{$tab_form.value}"/>
																									<div class="upload-img-box">
																										<notempty name="tab_form['value']">
																										<php> $mulimages = explode(",", $tab_form["value"]); </php>
																										<foreach name="mulimages" item="one">
																											<div class="upload-pre-item" val="{$one}">
																												<img src="{$one|get_cover='path'}"  ondblclick="removePicture{$o_tab_key}(this)"/>
																											</div>
																										</foreach>
																										</notempty>
																									</div>
																									</div>
																									<script type="text/javascript">
																										//上传图片
																										/* 初始化上传插件 */
																										$("#upload_picture_{$o_tab_key}").uploadify({
																											"height"          : 30,
																											"swf"             : "__STATIC__/uploadify/uploadify.swf",
																											"fileObjName"     : "download",
																											"buttonText"      : "上传图片",
																											"uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
																											"width"           : 120,
																											'removeTimeout'   : 1,
																											'fileTypeExts'    : '*.jpg; *.png; *.gif;',
																											"onUploadSuccess" : uploadPicture{$o_tab_key},
																											'onFallback' : function() {
																									            alert('未检测到兼容版本的Flash.');
																									        }
																										});
												
																										function uploadPicture{$o_tab_key}(file, data){
																											var data = $.parseJSON(data);
																											var src = '';
																											if(data.status){
																												src = data.url || '__ROOT__' + data.path
																												$("#cover_id_{$o_tab_key}").parent().find('.upload-img-box').append(
																													'<div class="upload-pre-item" val="' + data.id + '"><img src="__ROOT__' + src + '" ondblclick="removePicture{$o_tab_key}(this)"/></div>'
																												);
																												setPictureIds{$o_tab_key}();
																											} else {
																												updateAlert(data.info);
																												setTimeout(function(){
																													$('#top-alert').find('button').click();
																													$(that).removeClass('disabled').prop('disabled',false);
																												},1500);
																											}
																										}
																										function removePicture{$o_tab_key}(o){
																											var p = $(o).parent().parent();
																											$(o).parent().remove();
																											setPictureIds{$o_tab_key}();
																										}
																										function setPictureIds{$o_tab_key}(){
																											var ids = [];
																											$("#cover_id_{$o_tab_key}").parent().find('.upload-img-box').find('.upload-pre-item').each(function(){
																												ids.push($(this).attr('val'));
																											});
																											if(ids.length > 0)
																												$("#cover_id_{$o_tab_key}").val(ids.join(','));
																											else
																												$("#cover_id_{$o_tab_key}").val('');
																										}
																									</script>
																								</case>
																								</switch>
																								
																								<present name="tab_form.tip">
																									<span class="help-inline">
																										<span class="middle"><code>{$tab_form.tip}</code></span>
																									</span>
																								</present>
																							</div>
																					</div>
																					</foreach>
																				</div>
																			</volist>
																		</div>
										                            </case>							   
														</switch>
														<present name="form.tip">
															<span class="help-inline">
																<span class="middle"><code>{$form.tip}</code></span>
															</span>
														</present>
													</div>
												</div>			
												</foreach>				
											</fieldset>
										<else />
											<present name="custom_config">
												{$custom_config}
											</present>
										</empty>
							        </div>
							    </div>
							    <div class="form-actions text-center">
									<input type="hidden" name="id" value="{:I('id')}" readonly>
									<button type="submit" class="btn  btn-primary btn-sm ajax-post" target-form="form-horizontal">确 定</button>
									<button class="btn btn-primary btn-sm" onclick="javascript:history.back(-1);return false;">返 回</button>
							    </div>
							</form>

								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->

				<!-- /#ace-settings-container -->
				<include file="Public/setting"/>
				<!-- /#ace-settings-container -->
				
			</div><!-- /.main-container-inner -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="icon-double-angle-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!---footer-->
		<include file="Public/footer"/>
		<!---footer-->

		<!-- page specific plugin scripts -->
		<!-- ace scripts -->

		<script src="__ASSETS_JS__/ace-elements.min.js"></script>
		<script src="__ASSETS_JS__/ace.min.js"></script>

		<!-- inline scripts related to this page -->
		<script type="text/javascript" charset="utf-8">
			if($('ul.tab-nav').length){
				//当有tab时，返回按钮不显示
				$('.btn-return').hide();
			}
			$(function(){
				//支持tab
				showTab();
			})
		</script>
</body>
</html>
