<!DOCTYPE html>
<html lang="en">
	<head>
		<!---head-->
		<include file="Public/head"/>
		<!---head-->
	</head>

	<body>
		<!---nav-->
		<include file="Public/nav"/>
		<!---nav-->

		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>

				<!---head-->
					<include file="Public/sidebar"/>
				<!---head-->
				</div>
				<!--top-alert-->
					<include file="Public/top-alert"/>
				<!--top-alert-->
					<div class="page-content">
						<div class="page-header">

						</div><!-- /.page-header -->


								<!-- PAGE CONTENT BEGINS -->
								<div class="row">
									<div class="col-xs-12">
										<div class="table-responsive">
											<table id="sample-table-1" class="table table-striped table-bordered table-hover">
												<thead>
													<tr>
														<th>ID</th>
														<th>名称</th>
														<th>描述</th>
														<th>类型</th>
														<th>操作</th>
													</tr>
												</thead>
												<tbody>		
													<notempty name="list">
													<volist name="list" id="vo">
														<tr>
															<td>{$vo.id}</td>
															<td><a href="{:U('edithook?id='.$vo['id'])}">{$vo.name}</a></td>
															<td>{$vo.description}</td>
															<td>{$vo.type_text}</td>
															<td>
																<a title="编辑" href="{:U('edithook?id='.$vo['id'])}">编辑</a>
																<a class="confirm ajax-get" title="删除" href="{:U('delhook?id='.$vo['id'])}">删除</a>
															</td>
														</tr>
													</volist>
													<else/>
													<td colspan="5" class="text-center"> aOh! 暂时还没有内容! </td>
													</notempty>
												</tbody>
											</table>
										    <!-- 分页 -->
										    <div class="badoo">
										        {$_page}
										    </div>
										   <?php if (IS_ROOT): ?>
												<a class="btn btn-sm btn-primary" href="{:U('addhook')}">新 增</a>
											<?php endif ?>
										</div><!-- /.table-responsive -->
									</div><!-- /span -->
								</div><!-- /row -->	
				  </div><!-- /.main-content -->
				<!-- /#ace-settings-container -->
				<include file="Public/setting"/>
				<!-- /#ace-settings-container -->
				
			</div><!-- /.main-container-inner -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="icon-double-angle-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- basic scripts -->
		
		<!---footer-->
		<include file="Public/footer"/>
		<!---footer-->

		<!-- page specific plugin scripts -->
		<!-- ace scripts -->

		<script src="__ASSETS_JS__/ace-elements.min.js"></script>
		<script src="__ASSETS_JS__/ace.min.js"></script>
		<!--<script src="__ASSETS_JS__/common.js"></script>-->
		<!-- inline scripts related to this page -->

		<script type="text/javascript">

		</script>
</body>
</html>
