<!DOCTYPE html>
<html lang="en">
	<head>
		<!---head-->
		<include file="Public/head"/>
		<!---head-->
	</head>

	<body>
		<!---nav-->
		<include file="Public/nav"/>
		<!---nav-->

		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>

				<!---head-->
					<include file="Public/sidebar"/>
				<!---head-->
				</div>
				<!--top-alert-->
					<include file="Public/top-alert"/>
				<!--top-alert-->
					<div class="page-content">
						<div class="page-header">

						</div><!-- /.page-header -->


								<!-- PAGE CONTENT BEGINS -->
								<div class="row">
									<div class="col-xs-12">
										<div class="table-responsive">
											<table id="sample-table-1" class="table table-striped table-bordered table-hover">
												<thead>
													<tr>
														<th>名称</th>
														<th>标识</th>
														<th>描述</th>
														<th>状态</th>
														<th>作者</th>
														<th>版本</th>
														<th>操作</th>
													</tr>
												</thead>
												<tbody>		
													<notempty name="_list">
													<volist name="_list" id="vo">
													<tr>
														<td>{$vo.title}</td>
														<td>{$vo.name}</td>
														<td>{$vo.description}</td>
														<td>{$vo.status_text|default="未安装"}</td>
														<td><a target="_blank" href="#">{$vo.author}</a></td>
														<td>{$vo.version}</td>
														<td>
															<empty name="vo.uninstall">
																<?php
																	$class	= get_addon_class($vo['name']);
																	if(!class_exists($class)){
																		$has_config = 0;
																	}else{
																		$addon = new $class();
																		$has_config = count($addon->getConfig());
																	}
																?>
																<?php if ($has_config): ?>
																	<a href="{:U('config',array('id'=>$vo['id']))}">设置</a>
																<?php endif ?>
															<?php if ($vo['status'] >=0): ?>
																<eq name="vo.status" value="0">
																	<a class="ajax-get" href="{:U('enable',array('id'=>$vo['id']))}">启用</a>
																<else />
																	<a class="ajax-get" href="{:U('disable',array('id'=>$vo['id']))}">禁用</a>
																</eq>
															<?php endif ?>
																{// <eq name="vo.author" value="thinkphp">}
																	<a class="ajax-get" href="{:U('uninstall?id='.$vo['id'])}">卸载</a>
																{// </eq>}
															<else />
																<a class="ajax-get" href="{:U('install?addon_name='.$vo['name'])}">安装</a>
															</empty>
														</td>
													</tr>
													</volist>
													<else/>
													<td colspan="6" class="text-center"> aOh! 暂时还没有内容! </td>
													</notempty>
												</tbody>
											</table>
										    <!-- 分页 -->
										    <div class="badoo">
										        {$_page}
										    </div>
											<a href="{:U('create')}" class="btn btn-sm btn-primary">快速创建</a>
										</div><!-- /.table-responsive -->
									</div><!-- /span -->
								</div><!-- /row -->	
				  </div><!-- /.main-content -->
				<!-- /#ace-settings-container -->
				<include file="Public/setting"/>
				<!-- /#ace-settings-container -->
				
			</div><!-- /.main-container-inner -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="icon-double-angle-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- basic scripts -->
		
		<!---footer-->
		<include file="Public/footer"/>
		<!---footer-->

		<!-- page specific plugin scripts -->
		<!-- ace scripts -->

		<script src="__ASSETS_JS__/ace-elements.min.js"></script>
		<script src="__ASSETS_JS__/ace.min.js"></script>
		<!--<script src="__ASSETS_JS__/common.js"></script>-->
		<!-- inline scripts related to this page -->

		<script type="text/javascript">

		</script>
</body>
</html>
