<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="Keywords" content="瓯宝，瓯宝官网，物联网，智能家居，智能插座，智能遥控器，智能开关" />
		<meta name="description" content="瓯宝安防科技股份有限公司，始创于1987年，致力于不断提升智能化处理技术和生物识别技术在门控行业的应用，面向全球提供智能门控、专业的行业解决方案与优质的服务，为客户持续创造更大价值" />
		<title>瓯宝智能家居</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="__ASSETS_IMAGES__/favicon.ico" type="image/x-icon" />
		<!-- basic styles -->
		<link rel="shortcut icon" href="__ASSETS_IMAGES__/favicon.ico" type="image/x-icon" />
		<link href="__ASSETS_CSS__/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="__ASSETS_CSS__/font-awesome.min.css" />

		<!--[if IE 7]>
		  <link rel="stylesheet" href="__ASSETS_CSS__/font-awesome-ie7.min.css" />
		<![endif]-->

		<!-- page specific plugin styles -->


		<!-- ace styles -->

		<link rel="stylesheet" href="__ASSETS_CSS__/ace.min.css" />
		<link rel="stylesheet" href="__ASSETS_CSS__/ace-rtl.min.css" />

		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="__ASSETS_CSS__/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

		<!--[if lt IE 9]>
		<script src="assets/js/html5shiv.js"></script>
		<script src="assets/js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body class="login-layout">
		<div class="main-container">
			<div class="main-content">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<div class="login-container">
							<div class="space-6"></div>

							<div class="position-relative">
								<div id="login-box" class="login-box visible widget-box no-border">
									<div class="widget-body">
										<div class="widget-main">
											<h4 class="header blue lighter bigger">
												<i class="icon-coffee green"></i>
												后台管理
											</h4>

											<div class="space-6"></div>

											<form action="{:U('login')}" method="post" class="login-form">
												<fieldset>
													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="text" name="username" class="form-control" placeholder="Username" />
															<i class="icon-user"></i>
														</span>
													</label>

													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="password" name="password" class="form-control" placeholder="Password" />
															<i class="icon-lock"></i>
														</span>
													</label>

												    <div class="check-tips" style="color:red;padding:10px 0;"></div>
													
													<div class="clearfix">
														<button type="submit" class="width-100 pull-right btn btn-sm btn-primary">
															<i class="icon-key"></i>
															Login
														</button>
													</div>

													<div class="space-4"></div>
												</fieldset>
											</form>


											<div class="social-login center">
												<a class="btn btn-primary">
													<i class="icon-facebook"></i>
												</a>

												<a class="btn btn-info">
													<i class="icon-twitter"></i>
												</a>

												<a class="btn btn-danger">
													<i class="icon-google-plus"></i>
												</a>
											</div>
										</div><!-- /widget-main -->
									</div><!-- /widget-body -->
								</div><!-- /login-box -->
							</div><!-- /position-relative -->
						</div>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div>
		</div><!-- /.main-container -->

		<!-- basic scripts -->
		
		<!---footer-->
		<include file="Public/footer"/>
		<!---footer-->
 		<script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js"></script>
		<!-- inline scripts related to this page -->

		<script type="text/javascript">
		$(function(){
				$("form").submit(function(){
	    		var self = $(this);
	    		$.post(self.attr("action"), self.serialize(), success, "json");
	    		return false;
	    		function success(data){
	    			if(data.status){
	    				window.location.href = data.url;
	    			} else {
	    				self.find(".check-tips").text(data.info);
	    				//刷新验证码
	    				//$(".reloadverify").click();
	    			}
	    		}
	    	});
		});
		</script>
</body>
</html>
