<nav class="navbar-fixed-top">
<nav class="top-header">
	<div class="container">
        <div class="row">
            <div class="col-xs-6  left_top" >
                <p>欢迎来到瓯宝智能家居网站,
                <a href="#">登录</a>
                <a href="#">注册</a>
                </p>
            </div>
            <div class="col-xs-6 top-header-right">
                <p><span class="glyphicon glyphicon-earphone"></span> 0578-2199999
                  <button type="button" class="btn btn-default btn-sm">中 文</button>
                  <button type="button" class="btn btn-default btn-sm">E N</button>
                </p>
            </div>
        </div>
	</div>
</nav>

<nav class="top-header-tow">
    <div class="container" style="clear:both;">
        <div class="row" >
            <div class="col-xs-2">
                <a href="#" class="navbar-brand logo"><img src="__IMG__/logo.jpg" alt="瓯宝智能家居"></a>
            </div>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
            <div class="col-xs-10"  style="padding:0;">
                <ul>
                    <li class="dropdown">
                       <span><a href="/" class="main-a <empty name="active">active</empty>">首页</a></span>
                    </li>
			        <volist name="categorylist" id="list">						
	                    <li class="dropdown">
	                        <span><a href="{:U('Article/lists?category='.$list['name'])}" class="main-a <eq name="active" value="$list['name']">active</eq> <if condition="($detail_active) AND ($detail_active eq $list['name'])">active</if>">{$list.title}</a></span>
							<notempty name="list['_']">
			                        <div class="dropdown-content">
			                        	<volist name="list['_']" id="listc">
				                            <p><a href="{:U('Article/lists?category='.$list['name'].'&category_id='.$listc['id'])}">{$listc.title}</a></p>
										</volist>
			                        </div>								
							<notempty
	                    </li>
					</volist>
                </ul>
            </div>
        </div>
    </div>
</nav>
</nav>