<extend name="Base/common"/>
<block name="pageHeader">
	 <link rel="stylesheet" href="__CSS__/products_info.css">
	 <script src="__JS__/jquery.min.js"></script>
     <script src="__JS__/respond.min.js"></script>
     <script src="__JS__/jquery-migrate-1.2.1.min.js"></script>
	 <script src="__JS__/products_info.js"></script>
</block>
<block name="body">
<div style="clear:both;"></div>
<div class="products_info">
    <div class="container column-content">
        <div class="row">
        	<div class="col-xs-2">
        		  <div class="new-products"></div>
        	</div>
            <div class="col-xs-9 product-info-content">
                    <div class="row" >
                        <div class="col-xs-6">
                            <div class="img">
                                <img src="__IMG__/gas_big.png" alt="">
                            </div>
                            <div class="img-item">
                                <ul>
                                    <li class="active"><img src="__IMG__/item1jpg.jpg" alt=""></li>
                                    <li><img src="__IMG__/item2.jpg" alt=""></li>
                                    <li><img src="__IMG__/item3.jpg" alt=""></li>
                                    <li><img src="__IMG__/item1jpg.jpg" alt=""></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-6">
                           
                            <p class="product-type-name">OZB-GA-A1</p>
                            <h2 class="product-name">煤气报警器</h2>
                            <h3>功能特点:</h3>
                            <div class="product-feature">
                                <p>	支持多种燃气泄漏探测，适用于家庭、工厂等多种场合</p>
                                <p>	探测精准，反馈及时</p>
                                <p>	可手动或通过手机远程控制阀门开关</p>
                            </div>
                            <div class="buy"><a href="">立即购买</a></div>
                        </div>
                    </div>

                   <div style="clear:both;"></div>
                    <div class="row product-tab">
                        <div class="title">
                            <h2><a href="javascript:void(0)" >产品特点</a></h2>
                            <h2><a href="javascript:void(0)">产品参数</a></h2>
                            <h2><a href="javascript:void(0)">产品功能</a></h2>
                            <h2><a href="javascript:void(0)">产品色卡</a></h2>
                            <h2><a href="javascript:void(0)">产品视频</a></h2>
                            <h2><a href="javascript:void(0)">说明书</a></h2>
                        </div>
                            <div class="product-tob-content-img tabli" style="display:none;">
                                <ul>
                                    <li><img src="__IMG__/gas1.jpg" alt=""></li>
                                    <li><img src="__IMG__/gas2.jpg" alt=""></li>
                                    <li><img src="__IMG__/gas3.jpg" alt=""></li>
                                    <li><img src="__IMG__/gas4.jpg" alt=""></li>
                                </ul>
                            </div>
                            <div class="tabli parameter" style="display:none;">
                                <ul>
                                    <li>输入电压：DC12V-1V</li>
                                    <li>输入电流：1A</li>
                                    <li>工作温度：≤70%RH</li>
                                    <li>工作湿度：0-65℃</li>
                                    <li>待机功能：≤4W</li>
                                    <li>开关寿命：≥20000次</li>
                                    <li>预热时间：≥24小时</li>
                                </ul>
                            </div>
                            <div class="tabli parameter" style="display:none;">
                                <ul>
                                    <li>支持手动或者手机控制阀门设备；</li>
                                    <li>警报处理：当家中漏水时，自动发出警报并配合智能阀门进行自动关闭，并将处理结果及时反馈至手机机主；</li>
                                    <li>远程控制：当家中漏水时，瓯宝水浸报器不仅能自动关闭阀门进行自动处理，主人也可随时随地用手机进行处理；</li>
                                    <li>实时反馈：手机端能实时看到设备处理状态。</li>
                                </ul>
                            </div>
                            <div class="tabli" style="display:none;">
                                产品色卡
                            </div>
                            <div class="tabli" style="display:none;">
                                <video  controls="controls" poster="__IMG__/video.png">
                                  <source src="vedio/pc_video.MP4" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                            <div class="product-tob-content-img tabli" style="display:none;">
                                <ul>
                                    <li><img src="__IMG__/gas1_1.png" alt=""></li>
                                    <li><img src="__IMG__/gas1_2.png" alt=""></li>
                                    <li><img src="__IMG__/gas1_3.png" alt=""></li>
                                    <li><img src="__IMG__/gas1_4.png" alt=""></li>
                                    <li><img src="__IMG__/gas1_5.png" alt=""></li>
                                    <li><img src="__IMG__/gas1_6.png" alt=""></li>
                                    <li><img src="__IMG__/gas1_7.png" alt=""></li>
                                </ul>
                            </div>
                    </div>
            </div>
		<div class="col-xs-1"></div>
        </div>
    </div>
</div>

</block>
