<extend name="Base/common"/>
<block name="pageHeader">
	 <link rel="stylesheet" href="__CSS__/products_info.css">
</block>
<block name="body">
<div style="clear:both;"></div>
<div class="products_info">
    <div class="container column-content">
        <div class="row">
            <div class="col-xs-3 left-colum">
                <span><a href="">首页</a>&gt;<a href="">产品展示</a>&gt;<a href="">家居</a>&gt;<a href="">智能插座</a></span>
                    <div id="firstpane" class="menu_list">
                        <h3 class="menu_head current"><!--<span class="glyphicon glyphicon-minus"></span>-->家居</h3>
                        <div style="display:block" class="menu_body">
                            <a href="#">智能遥控</a>
                            <a href="#">智能插座</a>
                            <a href="#">电动闭门器</a>
                            <a href="#">电动平移窗</a>
                            <a href="#">移动插座</a>
                        </div>

                        <h3 class="menu_head"><!--<span class="glyphicon glyphicon-plus"></span>-->安防</h3>
                        <div style="display:none" class="menu_body">
                            <a href="#">水浸报警器</a>
                            <a href="#">煤气报警器</a>
                            <a href="#">网络摄像头</a>
                        </div>

                        <h3 class="menu_head"><!--<span class="glyphicon glyphicon-plus"></span>-->健康</h3>
                        <div style="display:none" class="menu_body">
                            <a href="#">水浸报警器</a>
                            <a href="#">煤气报警器</a>
                            <a href="#">网络摄像头</a>
                        </div>
                    </div>
                <div class="left-next" style="padding:2px 0;border-bottom:1px dashed #d9d4d4;">
                    <p style="font-size:12px;">产品咨询 / 购买热线 <span style="color:red">400-6768-678</span></p>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <img src="img/DownloadApp.png" alt="app下载">
                    </div>
                    <div class="col-xs-8" style="border-bottom:1px dashed #d9d4d4;border-top:1px dashed #d9d4d4;">
                        <h4 style="font-weight:bold;">免费下载APP</h4>
                        <span style="padding:15px 0;color:red;">激情体验瓯宝智能家居</span>
                    </div>
                </div>
                <div style="clear:both;"></div>
                <div class="row">
                   <div class="new-products">
                    <h3>最新产品</h3>
                    <ul>
                        <li>
                            <div class="p-img">
                            <a href=""><img src="img/smart%20outlet.png" alt=""></a>
                            </div>
                            <div class="p-name">
                                <a href=""><p>智能插座 支持多种燃气泄漏探测，适用于家庭、工厂等多种场合 探测精准，反馈及时 可手动或通过手机远程控制阀门开关</p></a>
                                <div class="known-more">
                                      <a href="">.了解更多.</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="p-img">
                                <a href=""><img src="img/Smart%20Lock.png" alt=""></a>
                            </div>
                            <div class="p-name">
                                <a href="">指纹锁 超大兼容性指纹识别芯，保证信息的高存储量和性能的精确稳定 支持远程开锁，及时反馈开锁人和开锁信息，并有短信提示 可与其他家电设备进行联动操作</a>
                                <div class="known-more">
                                      <a href="">.了解更多.</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="p-img">
                                <a href=""><img src="img/Electric%20Curtain.png" alt=""></a>
                            </div>
                             <div class="p-name">
                                <a href="">智能窗帘 静音设计，智能运行缓起缓停 远程操控，实时显示运行状态 智能联动，开启便捷生活模式</a>
                                <div class="known-more">
                                      <a href="">.了解更多.</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="p-img">
                            <a href=""><img src="img/Electric%20Door%20Closer.png" alt=""></a>
                            </div>
                             <div class="p-name">
                                <a href="">闭门器 自动闭合、遇阻停止，兼具防夹伤功能 双向通信，实时反馈，手机客户端可实时查看运行状态</a>
                                <div class="known-more">
                                      <a href="">.了解更多.</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-9 product-info-content">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="img">
                                <img src="img/gas_big.png" alt="">
                            </div>
                            <div class="img-item">
                                <ul>
                                    <li class="active"><img src="img/item1jpg.jpg" alt=""></li>
                                    <li><img src="img/item2.jpg" alt=""></li>
                                    <li><img src="img/item3.jpg" alt=""></li>
                                    <li><img src="img/item1jpg.jpg" alt=""></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-6">
                           
                            <p class="product-type-name">OZB-GA-A1</p>
                            <h2 class="product-name">煤气报警器</h2>
                            <h3>功能特点:</h3>
                            <div class="product-feature">
                                <p>	支持多种燃气泄漏探测，适用于家庭、工厂等多种场合</p>
                                <p>	探测精准，反馈及时</p>
                                <p>	可手动或通过手机远程控制阀门开关</p>
                            </div>
                            <div class="buy"><a href="">立即购买</a></div>
                        </div>
                    </div>
                                 <!--<div class="Details_tab">
                                    <div class="title">
                                        <h2>
                                            <a href="javascript:void(0)" class="active">产品特点</a></h2>
                                        <h2>
                                            <a href="javascript:void(0)" class="">产品参数</a></h2>
                                        <h2>
                                            <a href="javascript:void(0)" class="">产品功能</a></h2>
                                        <h2>
                                            <a href="javascript:void(0)" class="">产品色卡</a></h2>
                                        <h2>
                                            <a href="javascript:void(0)" class="">产品视频</a></h2>
                                        <h2>
                                            <a href="javascript:void(0)" class="">说明书</a></h2>
                                    </div>
                                    <div class="tabli" style="display: block;">
                                        产品特点
                                    </div>
                                    <div class="tabli css3-animated-example" data-collapse="" style="display: none;">                        
                                        产品参数
                                    </div>
                                    <div class="tabli" style="display: none;">
                                        产品功能
                                    </div>
                                    <div class="tabli" style="display: none;">
                                        产品色卡
                                    </div>
                                    <div class="tabli tabli2" style="display: none;">
                                        产品视频
                                    </div>
                                    <div class="tabli" style="display: none;">
                                        说明书
                                    </div>
                                </div>
                            -->
                   <div style="clear:both;"></div>
                    <div class="row product-tab">
                        <div class="title">
                            <h2><a href="javascript:void(0)" >产品特点</a></h2>
                            <h2><a href="javascript:void(0)">产品参数</a></h2>
                            <h2><a href="javascript:void(0)">产品功能</a></h2>
                            <h2><a href="javascript:void(0)">产品色卡</a></h2>
                            <h2><a href="javascript:void(0)">产品视频</a></h2>
                            <h2><a href="javascript:void(0)">说明书</a></h2>
                        </div>
                            <div class="product-tob-content-img tabli" style="display:none;">
                                <ul>
                                    <li><img src="img/gas1.jpg" alt=""></li>
                                    <li><img src="img/gas2.jpg" alt=""></li>
                                    <li><img src="img/gas3.jpg" alt=""></li>
                                    <li><img src="img/gas4.jpg" alt=""></li>
                                </ul>
                            </div>
                            <div class="tabli parameter" style="display:none;">
                                <ul>
                                    <li>输入电压：DC12V-1V</li>
                                    <li>输入电流：1A</li>
                                    <li>工作温度：≤70%RH</li>
                                    <li>工作湿度：0-65℃</li>
                                    <li>待机功能：≤4W</li>
                                    <li>开关寿命：≥20000次</li>
                                    <li>预热时间：≥24小时</li>
                                </ul>
                            </div>
                            <div class="tabli parameter" style="display:none;">
                                <ul>
                                    <li>支持手动或者手机控制阀门设备；</li>
                                    <li>警报处理：当家中漏水时，自动发出警报并配合智能阀门进行自动关闭，并将处理结果及时反馈至手机机主；</li>
                                    <li>远程控制：当家中漏水时，瓯宝水浸报器不仅能自动关闭阀门进行自动处理，主人也可随时随地用手机进行处理；</li>
                                    <li>实时反馈：手机端能实时看到设备处理状态。</li>
                                </ul>
                            </div>
                            <div class="tabli" style="display:none;">
                                产品色卡
                            </div>
                            <div class="tabli" style="display:none;">
                                <video  controls="controls" poster="img/video.png">
                                  <source src="vedio/pc_video.MP4" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                            <div class="product-tob-content-img tabli" style="display:none;">
                                <ul>
                                    <li><img src="img/gas1_1.png" alt=""></li>
                                    <li><img src="img/gas1_2.png" alt=""></li>
                                    <li><img src="img/gas1_3.png" alt=""></li>
                                    <li><img src="img/gas1_4.png" alt=""></li>
                                    <li><img src="img/gas1_5.png" alt=""></li>
                                    <li><img src="img/gas1_6.png" alt=""></li>
                                    <li><img src="img/gas1_7.png" alt=""></li>
                                </ul>
                            </div>
                    </div>
            </div>
        </div>
    </div>
</div>


</block>
