<extend name="Base/common"/>
<block name="pageHeader">
	 <link rel="stylesheet" href="__CSS__/join.css">
</block>
<block name="body">
<div style="clear:both;"></div>
	<div class="join">
	    <div class="container column-content">
	        <div class="row">
	            <div class="col-xs-3 left-colum">
	                <span><a href="">首页</a>&gt;<a href="">代理加盟</a>&gt;<a href="">招商政策</a></span>
	                <ul>
	                    <li><a href=""  class="act">招商政策</a></li>
	                    <li><a href="">加盟优势</a></li>
	                    <li><a href="">加盟流程</a></li>
	                    <li><a href="">市场支持</a></li>
	                </ul>
	                <div class="left-next" style="padding:2px 0;border-bottom:1px dashed #d9d4d4;">
	                    <p style="font-size:12px;">产品咨询 / 购买热线 <span style="color:red">400-6768-678</span></p>
	                </div>
	                <div class="row">
	                    <div class="col-xs-4">
	                         <img src="__IMG__/DownloadApp.png" alt="app下载" style="width:70px;height:70px;">
	                    </div>
	                    <div class="col-xs-8" style="border-bottom:1px dashed #d9d4d4;border-top:1px dashed #d9d4d4;">
	                        <h4 style="font-weight:bold;">免费下载APP</h4>
	                        <span style="padding:15px 0;color:red;">激情体验瓯宝智能家居</span>
	                    </div>
	                </div>
	            </div>
	            <div class="col-xs-9 join-content">
	                 <h3>瓯宝智能家居产品招商模式</h3>
	                 <p>瓯宝智能家居，以简单、方便、独特为载体，开启了国内智能市场先河。率先进入市场销售，从研发到生产再到销售，形成一条龙的自主智能新产品，从功能到应用再到系统，是引领智能家居的全新产品。</p> 
	                 <p>1、产品无需布线，安装方便快捷；</p>
	                 <p>2、手机智能操作，使用简单易学；</p>
	
	                <p>3、多模式选择，一键式操作；</p>
	
	                <p>4、3年质保保修承诺；</p>
	                
	                
	                <h3>政策支持</h3>
	                <span>营销费用</span>
	                <p>返利：每季超额销售额以10%返利，每季度进行返利结算，用于货款抵扣；</p>
	
	                <p>累计销额每超过100万，公司提取5%做为区域营销经费支持，由公司协助进行市场推广和消费者活动。</p>
	                
	                <h3>营销渠道</h3>
	                <span>电商合作</span>
	                <p>公司与苏宁、天猫等合作，所在区域的经销商负责配送、安装、维修，管理费用按照销额的8%提取；</p>
	
	                <p>经销商直接与苏宁等合作，由经销商承担营运成本，负责产品的供应、安装、维护，经销商享受全部营销成果。</p>
	
	                <span>工程项目</span>
	                <p>由经销商洽谈的工程项目，销售价格和出厂价格经公司核准后，由经销商负责维护安装，并由经销商享受两者的差额；</p>
	
	                <p>工程项目由公司直管，由当地/就近的经销商负责安装、维护，管理费用依据实际销额进行协商。</p>
	            </div>
	        </div>
	    </div>
	</div>
</block>