<!DOCTYPE html>
<html lang="en">
	<head>
		<!---head-->
		<include file="Public/head"/>
		<!---head-->
	</head>
<style>
	.upload-img-box .upload-pre-item {
	    padding: 1px;
	    width: 120px;
	    max-height: 120px;
	    overflow: hidden;
	    text-align: center;
	    cursor: pointer;
	    border: 1px solid #ccc;
	    transition: all .3s linear;
	}
	img {
	    max-width: 100%;
	    border: 0 none;
	}	
</style>
	<body>
		
		<!---nav-->
		<include file="Public/nav"/>
		<!---nav-->
		<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>

				<!---sidebar-->
					<include file="Public/sidebar"/>
				<!---sidebar-->
				</div>
				<!--top-alert-->
					<include file="Public/top-alert"/>
				<!--top-alert-->
					<div class="page-content">
						<div class="page-header">
							<h1>{$info['id']?'编辑':'新增'} [{:get_model_by_id($info['model_id'])}] 属性 : <a href="{:U('index','model_id='.$info['model_id'])}">返回列表</a></h2>
						</div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
							<ul class="nav nav-tabs">
						        <li class="active"><a href="#A" data-toggle="tab">基 础</a></li>
						        <li><a href="#C" data-toggle="tab">高 级</a></li>
						    </ul>
							<form class="form-horizontal js-ajax-form"  id="form"  action="{:U('update')}" method="post" role="form">
								<div class="tabbable">
							        <div class="tab-content">
							          <div class="tab-pane active" id="A">
											<fieldset>
												<div class="form-group">
													<label class="col-sm-3 control-label no-padding-right">字段名：</label>
													<div class="col-sm-9">
														<input type="text"  name="name" value="{$info.name}" class="col-xs-10 col-sm-5">
														<span class="help-inline">
															<span class="middle"><code>（请输入字段名 英文字母开头，长度不超过30）</code></span>
														</span>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label no-padding-right">字段标题：</label>
													<div class="col-sm-9">
														<input type="text" name="title" value="{$info.title}" class="col-xs-10 col-sm-5">
														<span class="help-inline">
															<span class="middle"><code>（请输入字段标题，用于表单显示）</code></span>
														</span>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label no-padding-right">字段类型：</label>
													<div class="col-sm-9">
														<select name="type" id="data-type" class="col-xs-10 col-sm-5">
															<option value="">----请选择----</option>
															<volist name=":get_attribute_type()" id="type">
															<option value="{$key}" rule="{$type[1]}">{$type[0]}</option>
															</volist>
														</select>
														<span class="help-inline">
															<span class="middle"><code>（用于表单中的展示方式）</code></span>
														</span>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label no-padding-right">字段定义：</label>
													<div class="col-sm-9">
														<input type="text" class="col-xs-10 col-sm-5" name="field" value="{$info.field}" id="data-field">
														<span class="help-inline">
															<span class="middle"><code>（字段属性的sql表示）</code></span>
														</span>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label no-padding-right">参数：</label>
													<div class="col-sm-9">
														<textarea name="extra"  rows="5" class="col-xs-10 col-sm-5">{$info.extra}</textarea>
														<span class="help-inline">
															<span class="middle"><code>（布尔、枚举、多选字段类型的定义数据）</code></span>
														</span>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label no-padding-right">默认值：</label>
													<div class="col-sm-9">
														<input type="text" class="col-xs-10 col-sm-5" name="value" value="{$info.value}">
														<span class="help-inline">
															<span class="middle"><code>（字段的默认值）</code></span>
														</span>
													</div>
												</div>
												
												<div class="form-group">
													<label class="col-sm-3 control-label no-padding-right">字段备注：</label>
													<div class="col-sm-9">
														<input type="text" class="col-xs-10 col-sm-5" name="remark" value="{$info.remark}">
														<span class="help-inline">
															<span class="middle"><code>（用于表单中的提示）</code></span>
														</span>
													</div>
												</div>
												
												<div class="form-group">
													<label class="col-sm-3 control-label no-padding-right">是否显示：</label>
													<div class="col-sm-9">
														<select name="is_show" class="col-xs-10 col-sm-5">
															<option value="1">始终显示</option>
															<option value="2">新增显示</option>
															<option value="3">编辑显示</option>
															<option value="0">不显示</option>
														</select>
														<span class="help-inline">
															<span class="middle"><code>（是否显示在表单中）</code></span>
														</span>														
													</div>
												</div>		
												
												<div class="form-group">
													<label class="col-sm-3 control-label no-padding-right">是否必填：</label>
													<div class="col-sm-9">
														<select name="is_must" class="col-xs-10 col-sm-5">
															<option value="0">否</option>
															<option value="1">是</option>
														</select>
														<span class="help-inline">
															<span class="middle"><code>（用于自动验证）</code></span>
														</span>														
													</div>
												</div>																																		
											</fieldset>
							          </div>
							          <div class="tab-pane" id="C">
											<fieldset>
												<div class="form-group">
													<label class="col-sm-3 control-label no-padding-right">验证方式：</label>
													<div class="col-sm-9">
														<select name="validate_type" class="col-xs-10 col-sm-5">
															<option value="regex">正则验证</option>
															<option value="function">函数验证</option>
															<option value="unique">唯一验证</option>
															<option value="length">长度验证</option>
							                                <option value="in">验证在范围内</option>
							                                <option value="notin">验证不在范围内</option>
							                                <option value="between">区间验证</option>
							                                <option value="notbetween">不在区间验证</option>
														</select>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label no-padding-right">验证规则：</label>
													<div class="col-sm-9">
														<input type="text" name="validate_rule" value="{$info.validate_rule}" class="col-xs-10 col-sm-5">
														<span class="help-inline">
															<span class="middle"><code>（根据验证方式定义相关验证规则）</code></span>
														</span>
													</div>
												</div>

												<div class="form-group">
													<label class="col-sm-3 control-label no-padding-right">出错提示：</label>
													<div class="col-sm-9">
														<input type="text" class="col-xs-10 col-sm-5" name="error_info" value="{$info.error_info}">
													</div>
												</div>	
												<div class="form-group">
													<label class="col-sm-3 control-label no-padding-right">验证时间：</label>
													<div class="col-sm-9">
														<select name="validate_time" class="col-xs-10 col-sm-5">
							                                <option value="3">始 终</option>
															<option value="1">新 增</option>
															<option value="2">编 辑</option>
														</select>
													</div>
												</div>	
												<div class="form-group">
													<label class="col-sm-3 control-label no-padding-right">自动完成方式：</label>
													<div class="col-sm-9">
														<select name="auto_type" class="col-xs-10 col-sm-5">
															<option value="function">函数</option>
															<option value="field">字段</option>
															<option value="string">字符串</option>
														</select>
													</div>
												</div>		
												<div class="form-group">
													<label class="col-sm-3 control-label no-padding-right">自动完成规则：</label>
													<div class="col-sm-9">
														<input type="text" class="col-xs-10 col-sm-5" name="auto_rule" value="{$info.auto_rule}">
														<span class="help-inline">
															<span class="middle"><code>（根据完成方式订阅相关规则）</code></span>
														</span>
													</div>
												</div>													
												<div class="form-group">
													<label class="col-sm-3 control-label no-padding-right">自动完成时间：</label>
													<div class="col-sm-9">
														<select name="auto_time" class="col-xs-10 col-sm-5">
															<option value="3">始 终</option>
															<option value="1">新 增</option>
															<option value="2">编 辑</option>
														</select>
													</div>
												</div>																																			
											</fieldset>
							          </div>
							        </div>
							    </div>
							    <div class="form-actions text-center">
									<input type="hidden" name="id" value="{$info['id']}"/>
									<input type="hidden" name="model_id" value="{$info['model_id']}"/>
							     	<button class="btn btn-primary btn-sm js-ajax-submit ajax-post" type="submit" id="submit" target-form="form-horizontal">提交</button>
							      	<button class="btn btn-default btn-sm" onclick="javascript:history.back(-1);return false;">返 回</button>
							    </div>
							</form>

								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->

				<!-- /#ace-settings-container -->
				<include file="Public/setting"/>
				<!-- /#ace-settings-container -->
				
			</div><!-- /.main-container-inner -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="icon-double-angle-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!---footer-->
		<include file="Public/footer"/>
		<!---footer-->

		<!-- page specific plugin scripts -->
		<!-- ace scripts -->

		<script src="__ASSETS_JS__/ace-elements.min.js"></script>
		<script src="__ASSETS_JS__/ace.min.js"></script>

		<!-- inline scripts related to this page -->
				<script type="text/javascript" charset="utf-8">
				//导航高亮
				highlight_subnav('{:U('Model/index')}');
				Think.setValue('type', "{$info.type|default=''}");
				Think.setValue('is_show', "{$info.is_show|default=1}");
				Think.setValue('is_must', "{$info.is_must|default=0}");
				Think.setValue('validate_time', "{$info.validate_time|default=3}");
				Think.setValue('auto_time', "{$info.auto_time|default=3}");
				Think.setValue('validate_type', "{$info.validate_type|default='regex'}");
				Think.setValue('auto_type', "{$info.auto_type|default='function'}");
				$(function(){
					showTab();
				})
				<eq name="ACTION_NAME" value="add">
				$(function(){
					$('#data-type').change(function(){
						$('#data-field').val($(this).find('option:selected').attr('rule'));
					});
				})
				</eq>
				</script>
</body>
</html>
