<!DOCTYPE html>
<html lang="en">
	<head>
		<!---head-->
		<include file="Public/head"/>
		<!---head-->
	</head>

	<body>
		<div class="jumppage_bg" style="display:none;"></div>
		<div class="jumppage" style="display:none;">
			<div class="t_1">提示信息</div>
			<div class="tx1"></div>
			<input type="button" class="btn2" id="Jq_sure" value="确认">
			<input type="button" class="btn3" id="Jq_no" value="取消">
		</div>
		<!---nav-->
		<include file="Public/nav"/>
		<!---nav-->

		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>

				<!---head-->
					<include file="Public/sidebar"/>
				<!---head-->
				</div>
				<!--top-alert-->
					<include file="Public/top-alert"/>
				<!--top-alert-->
					<div class="page-content">
						<div class="page-header">

						</div><!-- /.page-header -->


								<!-- PAGE CONTENT BEGINS -->
								<div class="row">
									<div class="col-xs-12">
										<div class="table-responsive">
											<table id="sample-table-1" class="table table-striped table-bordered table-hover">
												<thead>
													<tr>
														<th class="center">
															<label>
																<input class="check-all" type="checkbox" />
																<span class="lbl"></span>
															</label>
														</th>
														<th>编号</th>
														<th>字段</th>
														<th>名称</th>
														<th>数据类型</th>
														<th>操作</th>
													</tr>
												</thead>
												<tbody>		
													<notempty name="_list">
														<volist name="_list" id="vo">
														<tr>
												            <td class="center"><input class="ids" type="checkbox" name="id[]" value="{$vo.id}" /></td>
															<td>{$vo.id} </td>
															<td>{$vo.name}</td>
															<td><a data-id="{$vo.id}" href="{:U('Attribute/edit?id='.$vo['id'])}">{$vo.title}</a></td>
															<td><span>{:get_attribute_type($vo['type'])}</span></td>
															<td><a href="{:U('Attribute/edit?id='.$vo['id'])}">编辑</a>
																<a class="confirm ajax-get" href="{:U('Attribute/remove?id='.$vo['id'])}">删除</a>
												                </td>
														</tr>
														</volist>
														<else/>
														<td colspan="6" class="text-center"> aOh! 暂时还没有内容! </td>
													</notempty>
												</tbody>
											</table>
											<div class="badoo">
										        {$_page}
										    </div>

												<a class="btn btn-primary btn-sm" href="{:U('Attribute/add?model_id='.$model_id)}">新 增</a>
												<button class="btn btn-default btn-sm ajax-post confirm" target-form="ids" url="{:U('remove')}">删 除</button>
												<button class="btn btn-default btn-sm" onclick="javascript:history.back(-1);return false;">返 回</button>
										</div><!-- /.table-responsive -->
									</div><!-- /span -->
								</div><!-- /row -->	
				  </div><!-- /.main-content -->
				<!-- /#ace-settings-container -->
				<include file="Public/setting"/>
				<!-- /#ace-settings-container -->
				
			</div><!-- /.main-container-inner -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="icon-double-angle-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- basic scripts -->
		
		<!---footer-->
		<include file="Public/footer"/>
		<!---footer-->

		<!-- page specific plugin scripts -->
		<!-- ace scripts -->

		<script src="__ASSETS_JS__/ace-elements.min.js"></script>
		<script src="__ASSETS_JS__/ace.min.js"></script>
		<!--<script src="__ASSETS_JS__/common.js"></script>-->
		<!-- inline scripts related to this page -->

		<script type="text/javascript">
		</script>
</body>
</html>
