<!DOCTYPE html>
<html lang="en">
	<head>
		<!---head-->
		<include file="Public/head"/>
		<!---head-->
	</head>

	<body>
		<!---nav-->
		<include file="Public/nav"/>
		<!---nav-->

		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>

				<!---head-->
					<include file="Public/sidebar"/>
				<!---head-->
				</div>
				<!--top-alert-->
					<include file="Public/top-alert"/>
				<!--top-alert-->
					<div class="page-content">
						<div class="page-header">

						</div><!-- /.page-header -->


								<!-- PAGE CONTENT BEGINS -->
								<div class="row">
									<div class="col-xs-12">
										<div class="table-responsive">
											<table id="sample-table-1" class="table table-striped table-condensed table-bordered table-hover">
												<thead>
													<tr>
														<th class="center">
															<label>
																<input class="check-all" type="checkbox"/>
																<span class="lbl"></span>
															</label>
														</th>
													<th class="">编号</th>
													<th class="">行为名称</th>
													<th class="">执行者</th>
													<th class="">执行时间</th>
													<th class="">操作</th>
													</tr>
												</thead>
												<tbody>		
													<notempty name="_list">
														<volist name="_list" id="vo">
														<tr>
												            <td class="center"><input class="ids" type="checkbox" name="ids[]" value="{$vo.id}" /></td>
															<td>{$vo.id} </td>
															<td>{:get_action($vo['action_id'],'title')}</td>
															<td>{:get_nickname($vo['user_id'])}</td>
															<td><span>{$vo.create_time|time_format}</span></td>
															<td><a href="{:U('Action/edit?id='.$vo['id'])}">详细</a>
																<a class="confirm ajax-get" href="{:U('Action/remove?ids='.$vo['id'])}">删除</a>
												                </td>
														</tr>
														</volist>
													<else/>
													<td colspan="6" class="text-center"> aOh! 暂时还没有内容! </td>
													</notempty>
												</tbody>
											</table>
										    <!-- 分页 -->
										    <div class="badoo">
										        {$_page}
										    </div>
											 <button class="btn btn-default btn-sm ajax-get confirm" url="{:U('clear')}">清 空</button>
											 <button class="btn btn-default btn-sm ajax-post confirm" target-form="ids" url="{:U('remove')}">删 除</button>
										</div><!-- /.table-responsive -->
									</div><!-- /span -->
								</div><!-- /row -->	
				  </div><!-- /.main-content -->
				<!-- /#ace-settings-container -->
				<include file="Public/setting"/>
				<!-- /#ace-settings-container -->
				
			</div><!-- /.main-container-inner -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="icon-double-angle-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- basic scripts -->
		
		<!---footer-->
		<include file="Public/footer"/>
		<!---footer-->

		<!-- page specific plugin scripts -->
		<!-- ace scripts -->

		<script src="__ASSETS_JS__/ace-elements.min.js"></script>
		<script src="__ASSETS_JS__/ace.min.js"></script>
		<!--<script src="__ASSETS_JS__/common.js"></script>-->
		<!-- inline scripts related to this page -->

		<script type="text/javascript">
			$(function(){
				$("#action_add").click(function(){
					window.location.href = $(this).attr('url');
				})
			})
		</script>
</body>
</html>
