<extend name="Base/common"/>
<block name="body">
<div style="clear:both;"></div>
<div id="myCarousel" class="carousel slide">
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner">
		<div class="item active" style="background:#223240">
			<a href="javascript:void(0);"><img src="__IMG__/index.jpg" alt="第一张"></a>
		</div>
		<div class="item" style="background:#F5E4DC;">
			<a href="javascript:void(0);"><img src="__IMG__/product.jpg" alt="第二张"></a>
		</div>
		<div class="item" style="background:#DE2A2D;">
		    <a href="javascript:void(0);"><img src="__IMG__/process.jpg" alt="第三张"></a>
		</div>
	</div>
	<a href="#myCarousel" data-slide="prev" class="carousel-control left">
		<span class="glyphicon glyphicon-chevron-left"></span>
	</a>
	<a href="#myCarousel" data-slide="next" class="carousel-control right">
		<span class="glyphicon glyphicon-chevron-right"></span>
	</a>
</div>

<!--<div class="video">
    <div class="container">
    <div class="box">
         <video id="media0" controls  width="860px" height="485px" poster="__IMG__/video1.png">
          <source src="box/pc_video.MP4" type="video/mp4">
          <source src="box/pc_video.webm" type="video/webm">
            Your browser does not support the video tag.
         </video>
     </div>  
    </div>
</div>-->
<div style="clear:both"></div>
<div class="content" >
        <div class="container">
           <div class="row">
                <div class="col-xs-6 content-index">
                    <p class="first-red"><span>a</span>bout</p>
                    <div class="row title-header">
                        <div class="col-xs-6 about">{$position_list.title}</div>
                        <div class="col-xs-6 more"><a href="{:U('Article/lists?category='.$category_name['name'].'&id='.$position_list['id'])}">更多 +</a></div>
                    </div>
                    <div class="body">
                        <div class="body-content">
                          {$position_list.content}...
                        </div>  
                    </div>
                </div>
                <div class="col-xs-6 content-news" style="margin-left:0;">
                    <p class="first-red"><span>n</span>ews</p>
                    <div class="row title-header">
                        <div class="col-xs-6 about">新闻资讯</div>
                        <div class="col-xs-6 more"><a href="{:U('Article/lists?category=news')}">更多 +</a></div>
                    </div>
					<volist name="arr_news_list" id="data">
                        <div class="row info-content" style="margin:0;">
                                <div class="col-xs-3 col-xs-3 col-xs-3">
                                    <a href="{:U('Article/detail?id='.$data['id'])}"><img src="__IMG__/new1.jpg" class="img-responsive new-img" alt=""></a>
                                </div>
                                <div class="col-xs-9 col-xs-9 col-xs-9" style="padding:0;">
                                    <a href="{:U('Article/detail?id='.$data['id'])}"><h4>{$data.title}</h4></a>
                                    <a href="{:U('Article/detail?id='.$data['id'])}">{$data.description|mb_substr=###,0,60,'utf-8'}...</p></a>
                                </div>
                        </div>
					</volist>            
                </div>
            </div>
        </div>
</div>
<div style="clear:both"></div>
<div class="tab2">
	<div class="container">
        <div class="row">
            <div class="col-xs-12 col-xs-12">
               <p class="first-red"><span>P</span>roducts</p>
               <p class="about">产品展示</p>
            </div>
        </div>
     <div class="row">
        <div id="myCar" class="carousel slide">    
            <div class="col-xs-1 left">
            <a href="#myCar" data-slide="prev">
               <span class="glyphicon glyphicon-circle-arrow-left allow" style="font-size:40px;"></span>
            </a>
             </div>  
            <div class="col-xs-10">
                <ul>
                   <div class="carousel-inner">
                   	<volist name="arr_products_list" id="list_products">
	                    <div class="item active">
	                        <li><a href="{:U('Goods/detail?id='.$list_products['id'])}"><img src="{$list_products['cover_id']|get_cover='path' }" alt=""></a></li>
	                    </div> 
					</volist>
                    </div>
                </ul>
            </div>
            <div class="col-xs-1 right">
            <a href="#myCar" data-slide="next">
                <span class="glyphicon glyphicon-circle-arrow-right allow" style="font-size:40px;"></span>
            </a>      
            </div> 
        </div>   
	  </div>
	  <div class="known-more">
	      <a href="{:U('Goods/lists?category=products')}">.了解更多.</a>
	  </div>
    </div>
</div>
</block>