<!DOCTYPE html>
<html lang="en">
	<head>
		<!---head-->
		<include file="Public/head"/>
		<!---head-->
	</head>

	<body>
		<!---nav-->
		<include file="Public/nav"/>
		<!---nav-->

		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>

				<!---head-->
					<include file="Public/sidebar"/>
				<!---head-->
				</div>
				<!--top-alert-->
					<include file="Public/top-alert"/>
				<!--top-alert-->
					<div class="page-content">
						<div class="page-header">

						</div><!-- /.page-header -->


								<!-- PAGE CONTENT BEGINS -->
								<div class="row">
									<div class="col-xs-12">
										<div class="table-responsive">
										<form class="form-horizontal" action="{:U('Config/listorders')}" method="post">
											<table id="sample-table-1" class="table table-striped table-bordered table-hover">
												<thead>
													<tr>
														<th class="center">
															<label>
																<input class="check-all" type="checkbox"/>
																<span class="lbl"></span>
															</label>
														</th>
													<th>排序</th>
													<th>ID</th>
													<th>名称</th>
													<th>标题</th>
													<th>分组</th>
													<th>类型</th>
													<th>操作</th>
													</tr>
												</thead>
												<tbody>		
													<notempty name="list">
													<volist name="list" id="config">
														<tr>
															<td class="center"><input class="ids row-selected" type="checkbox" name="id[]" value="{$config.id}"></td>
															<td><input name="sort[{$config.id}]" type="text" size="3" value="{$config.sort}" class="input"></td>
															<td>{$config.id}</td>
															<td><a href="{:U('edit?id='.$config['id'])}">{$config.name}</a></td>
															<td>{$config.title}</td>
															<td>{$config.group|get_config_group}</td>
															<td>{$config.type|get_config_type}</td>
															<td>
																<a title="编辑" href="{:U('edit?id='.$config['id'])}">编辑</a>
																<a class="confirm ajax-get" title="删除" href="{:U('del?id='.$config['id'])}">删除</a>
															</td>
														</tr>
													</volist>
													<else/>
													<td colspan="6" class="text-center"> aOh! 暂时还没有内容! </td>
													</notempty>
												</tbody>
											</table>
										    <!-- 分页 -->
										    <div class="badoo">
										        {$_page}
										    </div>
											<a class="btn btn-sm btn-primary" href="{:U('add')}">新 增</a>
											<button type="submit" id="submit" class="btn  btn-sm btn-primary js-ajax-submit ajax-post" target-form="form-horizontal">提交排序</button>											
											<a class="btn btn-default btn-sm ajax-post" target-form="ids" url="{:U("Config/del")}">删 除</a>
											</form>
										</div><!-- /.table-responsive -->
									</div><!-- /span -->
								</div><!-- /row -->	
				  </div><!-- /.main-content -->
				<!-- /#ace-settings-container -->
				<include file="Public/setting"/>
				<!-- /#ace-settings-container -->
				
			</div><!-- /.main-container-inner -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="icon-double-angle-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- basic scripts -->
		
		<!---footer-->
		<include file="Public/footer"/>
		<!---footer-->

		<!-- page specific plugin scripts -->
		<!-- ace scripts -->

		<script src="__ASSETS_JS__/ace-elements.min.js"></script>
		<script src="__ASSETS_JS__/ace.min.js"></script>
		<!--<script src="__ASSETS_JS__/common.js"></script>-->
		<!-- inline scripts related to this page -->

		<script type="text/javascript">
		$(function(){
			//搜索功能
			$("#search").click(function(){
				var url = $(this).attr('url');
		        var query  = $('.search-form').find('input').serialize();
		        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
		        query = query.replace(/^&/g,'');
		        if( url.indexOf('?')>0 ){
		            url += '&' + query;
		        }else{
		            url += '?' + query;
		        }
				window.location.href = url;
			});
			//回车搜索
			$(".search-input").keyup(function(e){
				if(e.keyCode === 13){
					$("#search").click();
					return false;
				}
			});
			//点击排序
			$('.list_sort').click(function(){
				var url = $(this).attr('url');
				var ids = $('.ids:checked');
				var param = '';
				if(ids.length > 0){
					var str = new Array();
					ids.each(function(){
						str.push($(this).val());
					});
					param = str.join(',');
				}
		
				if(url != undefined && url != ''){
					window.location.href = url + '/ids/' + param;
				}
			});
		});
		</script>
</body>
</html>
