<!DOCTYPE html>
<html lang="en">
	<head>
		<!---head-->
		<include file="Public/head"/>
		<!---head-->
	</head>
<style>
	.upload-img-box .upload-pre-item {
	    padding: 1px;
	    width: 120px;
	    max-height: 120px;
	    overflow: hidden;
	    text-align: center;
	    cursor: pointer;
	    border: 1px solid #ccc;
	    transition: all .3s linear;
	}
	img {
	    max-width: 100%;
	    border: 0 none;
	}	
</style>
	<body>
		
		<!---nav-->
		<include file="Public/nav"/>
		<!---nav-->
		<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>

				<!---sidebar-->
					<include file="Public/sidebar"/>
				<!---sidebar-->

					<div class="page-content">
						<div class="page-header">

						</div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
							<ul class="nav nav-tabs">
						        <li class="active"><a href="#A" data-toggle="tab">基本设置</a></li>
						        <li><a href="#C" data-toggle="tab">高级设置</a></li>
						    </ul>
							<form class="form-horizontal js-ajax-form" action="{:U()}" method="post" role="form">
								<div class="tabbable">
							        <div class="tab-content">
							          <div class="tab-pane active" id="A">
											<fieldset>
												<div class="form-group">
													<label class="col-sm-3 control-label no-padding-right">所属栏目：</label>
													<div class="col-sm-9">
														<select class="col-xs-10 col-sm-5" multiple>
														<volist name="tree" id="list">
															  <option value="{$list.id}">{$list.html}{$list.space}{$list.title}</option>
														 </volist>
														</select>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label no-padding-right">标题：</label>
													<div class="col-sm-9">
														<input type="text" name="title" value="{$info.title|default=''}" class="col-xs-10 col-sm-5">
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label no-padding-right">标识：</label>
													<div class="col-sm-9">
														<input type="text" name="name" value="{$info.name|default=''}" class="col-xs-2">
														<span class="help-inline">
															<span class="middle"><code>（英文字母）</code></span>
														</span>
													</div>
												</div>
												<!--<div class="form-group">
													<label class="col-sm-3 control-label no-padding-right">简介：</label>
													<div class="col-sm-9">
														<label>
														<textarea name="description" rows="5" class="col-xs-10 col-sm-5">{$info.groups|default=''}</textarea>
														</label>
													</div>
												</div>-->
												<div class="form-group">
													<label class="col-sm-3 control-label no-padding-right">文章内容：</label>
													<div class="col-sm-9">
							                                <label class="textarea">
							                                <textarea name="content">{$field.value}</textarea>
							                                {:hook('adminArticleEdit', array('name'=>$field['name'],'value'=>$field['value']))}
							                                </label>
													</div>
												</div>																																
											</fieldset>
							          </div>
							        </div>
							    </div>
							    <div class="form-actions text-center">
							    	<input type="hidden" name="id" value="{$info.id|default=''}">
									<input type="hidden" name="pid" value="{:isset($category['id'])?$category['id']:$info['pid']}">
							     	<button class="btn btn-primary btn-sm js-ajax-submit ajax-post" type="submit" id="submit" target-form="form-horizontal">提交</button>
							      	<button class="btn btn-default btn-sm" onclick="javascript:history.back(-1);return false;">返 回</button>
							    </div>
							</form>

								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->

				<!-- /#ace-settings-container -->
				<include file="Public/setting"/>
				<!-- /#ace-settings-container -->
				
			</div><!-- /.main-container-inner -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="icon-double-angle-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!---footer-->
		<include file="Public/footer"/>
		<!---footer-->

		<!-- page specific plugin scripts -->
		<!-- ace scripts -->

		<script src="__ASSETS_JS__/ace-elements.min.js"></script>
		<script src="__ASSETS_JS__/ace.min.js"></script>

		<!-- inline scripts related to this page -->
		<script type="text/javascript">
			<present name="info.id">
			//alert({$info.allow_publish});
			Think.setValue("allow_publish", {$info.allow_publish|default=1});
			Think.setValue("check", {$info.check|default=0});
			Think.setValue("model[]", {$info.model|json_encode} || [1]);
			Think.setValue("model_sub[]", {$info.model_sub|json_encode} || [1]);
			Think.setValue("type[]", {$info.type|json_encode} || [2]);
			Think.setValue("display", {$info.display|default=1});
			Think.setValue("reply", {$info.reply|default=0});
			Think.setValue("reply_model[]", {$info.reply_model|json_encode} || [1]);
			</present>
			$(function(){
				showTab();
				$("input[name=reply]").change(function(){
					var $reply = $(".form-item.reply");
					parseInt(this.value) ? $reply.show() : $reply.hide();
				}).filter(":checked").change();
			});
			//导航高亮
			highlight_subnav('{:U('Category/index')}');
		</script>
</body>
</html>
